.PostHeader {
  display: flex;
  flex-direction: row;

  > * {
    margin-bottom: 0.5rem;
  }

  &_row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .spacer {
      flex-grow: 1;
    }
  }

  @media (max-width: 501px) {
    flex-direction: column-reverse;

    &_row {
      margin-top: -1rem;
    }
  }
}

.author {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;

  img {
    border: none;
    display: block;
    width: 24px;
    min-width: 24px;
  }

  span + span {
    margin-left: 0.5rem;
  }
}
