.content pre {
  padding: 0;

  > code {
    padding: 1em;
  }
}

.card-content {
  overflow: scroll;
}

.responsive-iframe {
  width: 100%;
  margin: 0 !important;
}

#__nuxt {
  ::-webkit-scrollbar {
    width: 0 !important;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}